/* Inter Font Family */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-400.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/inter-500.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/inter-600.ttf") format("truetype");
}

/* Crimson Pro Font Family */
@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/crimson-pro-300.ttf") format("truetype");
}

@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/crimson-pro-400.ttf") format("truetype");
}

@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/crimson-pro-500.ttf") format("truetype");
}

/* JetBrains Mono Font Family */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/jetbrains-mono-300.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/jetbrains-mono-400.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/jetbrains-mono-500.ttf") format("truetype");
}
